<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c072cb">  <td>21/08/11 08:44:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.quit()[pri:0, instance:Task.Test.PropertyVerificationTest@4690b489]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@150268540</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>21/08/11 08:44:44</td>   <td>-4822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.intialise()[pri:0, instance:Task.Test.PropertyVerificationTest@4690b489]">&gt;&gt;intialise</td> 
<td>&nbsp;</td>  <td>main@150268540</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>21/08/11 08:44:22</td>   <td>-26708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyVerificationTest.validateMyLocationProperty()[pri:0, instance:Task.Test.PropertyVerificationTest@4690b489]">validateMyLocationProperty</td> 
  <td>main@150268540</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>21/08/11 08:44:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.quit()[pri:0, instance:Task.Test.PropertyVerificationTest@4690b489]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@150268540</td>   <td></td> </tr>
<tr bgcolor="c072cb">  <td>21/08/11 08:44:44</td>   <td>-4822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.intialise()[pri:0, instance:Task.Test.PropertyVerificationTest@4690b489]">&gt;&gt;intialise</td> 
<td>&nbsp;</td>  <td>main@150268540</td>   <td></td> </tr>
<tr bgcolor="a263c2">  <td>21/08/11 08:44:48</td>   <td>-432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyVerificationTest.validatePropertyCode()[pri:1, instance:Task.Test.PropertyVerificationTest@4690b489]">validatePropertyCode</td> 
  <td>main@150268540</td>   <td></td> </tr>
</table>
